html, body, main, h1, p {
  margin: 0;
  padding: 0;
}

body {
  background: #b0c4de;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

header {
  width: 100%;
}

header h1 {
  line-height: 80px;
  color: #fff;
  width: 1000px;
  margin: 0 auto;
}

form {
  padding: 60px 0 30px 0;
}
input[type="text"] {
  box-sizing: border-box;
  height: 30px;
  border: 2px solid #4682B4;
  outline: none;
  border-radius: 5px;
}

.sort input[type="button"] {
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px;
}

input[type="text"].todo-text {
  min-width: 300px;
  margin-left:5px;
}
.vdp-datepicker {
  display: inline-block;
}
.vdp-datepicker input {
  width: 100px;
}

label.is-due {
  cursor: pointer;
}

select {
  display: inline-block;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border: 2px solid #4682B4;
  outline: none;
}

form label {
  line-height: 25px
}

form input[type="submit"] {
  background-color: #4682B4;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  padding: 5px 10px;
  color: white;
}

ul {
  padding: 0;
  list-style: none;
}
ul li {
  margin-bottom: 7px;
}

input.completed {
  opacity: .6;
}

ul li > span.status-text {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  text-align: center;
  width: 70px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 5px;
}

.btn {
  font-size: 12px;
  height: 25px;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

li .delete-btn {
  color: red;
}

textarea {
  box-sizing: border-box;
  height: 60px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left:5px;
  border: 2px solid #4682B4;
  outline: none;
}

.modal-window .edit-modal {
  background-color: white;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 15;
}

.edit-modal form {
  margin: 0 auto;
  width: 300px;
}

.fa-times {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}