<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <h1>Todo List</h1>
  </header>

  <main>
    <div class="container" id="app">
      <form @submit.prevent="">
        <select name="status" v-model="select">
          <option v-for="(status, index) in statusList" :value="index">{{ status }}</option>
        </select>
        <input type="text" v-model="newTodo">
        <label><input type="checkbox" name="date" v-model="isDue" @click="setDate">期限</label>
        <span >
          <input type="date" v-model="dueDate" v-show="isDue" >
        <br>
        <input type="submit" value="追加" @click="addTodo">
      </form>

      <ul>
        <li v-for="(todo, ind) in todos">
          <span v-show="todos[ind].fixedStatus" class="status-text" @click="changeStatus(ind)">{{ statusList[todo.status] }}</span>
          <span v-show="todos[ind].isStatus">
            <select v-model="changeSelect" @change="fixSelect(ind)">
              <option value="unselected">進捗</option>
              <option v-for="(stat, i) in statusList" :value="i">{{ stat }}</option>
            </select>
          </span>
          <span @mouseover="todos[ind].btn = true" @mouseout="todos[ind].btn = false">
            <span>{{ todo.title }}</span>
            <span class="edit-btn btn" v-show="todos[ind].btn" @click="editModal(ind)">[編集]</span>
            <span class="delete-btn btn" v-show="todos[ind].btn" @click="todos.splice(ind, 1)">[x]</span>
          </span>
        </li>
      </ul>
      <section class="modal-window" v-if="isModalDisplay">
        <form class="edit-modal" @submit.prevent>
          <select>
            <option v-for="(s, key) in statusList" value="key">{{ s }}</option>
          </select>
          <textarea v-model="editModalWindow"></textarea>
          <input type="submit" value="編集" @click="changeTodo">
        </form>
        
        <div id="mask"></div>
      </section>
      <pre>{{ $data }}</pre>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>